@import url(./account.scss);
@import url(./bonus.scss);
@import url(./dostlarnitaklifqilish.scss);
@import url(./hisobnitoldirish.scss);
@import url(./home.scss);
@import url(./paketsotibolish.scss);
@import url(./pulniyechbolish.scss);
@import url(./qanchadostlarnitaklfqildm.scss);
@import url(./royhatdanotish.scss);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2F8FD;
}